.primary-header {
  margin-top: var(--size-600);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-600));
  font-weight: var(--fw-semibold);

  a {
    text-decoration: none;
    color: var(--clr-primary-400);
  }

  a:hover,
  a:focus-visible {
    color: var(--clr-accent-400);
  }
}

@media screen and (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: absolute;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    background-color: var(--clr-neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.2);
    max-width: 25rem;
    margin-left: auto;

    &[data-visible] {
      display: block;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-600);
    padding: var(--size-400);
    font-weight: var(--fw-bold);

    a {
      text-decoration: none;
      color: var(--clr-primary-400);
    }

    a:hover,
    a:focus-visible {
      color: var(--clr-accent-400);
    }
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}

.mobile-nav-toggle {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}

.mobile-nav-toggle .icon-close {
  display: none;
}
