.bg-primary-400 {
    background-color: var(--clr-primary-400);
}
.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}
.bg-accent-100 {
    background-color: var(--clr-accent-100);
}
.bg-accent-900 {
    background-color: var(--clr-accent-400);
}

.text-primary-400 {
    color: var(--clr-primary-400);
}
.text-neutral-100 {
    color: var(--clr-neutral-100);
}
.text-neutral-900 {
    color: var(--clr-neutral-900);
}
.text-accent-100 {
    color: var(--clr-accent-100);
}
.text-accent-900 {
    color: var(--clr-accent-400);
}

.fw-regular {
    font-weight: var(--fw-regular);
}
.fw-bold {
    font-weight: var(--fw-bold);
}
.fw-semibold {
    font-weight: var(--fw-semibold);
}
.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}
.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}
